<%- include("./partials/NavBar.ejs") %>

<style>
  #about-footer {
    background-color: #333;
    padding-top: 50px;
    color: white;
  }

  #about-footer h1, #about-footer h3 {
    padding-top: 40px;
    color: white;
  }


  .carousel-item {
    background-color: #333;
    height: 400px;
    text-align: center;
  }
  #about-footer img {
    border-radius: 100%;     
    height: 180px;
    width: 180px;
    margin-top: 20px;
  }
  body {
    /* height: 100%; */
    background-image: linear-gradient(to bottom, #654ea3 , #eaafc8 );   
    /* background-color: red; */
    background-repeat: no-repeat;
  }


</style>


<section id = "con-1">
  <!-- <div class = "container-fluid"> -->
    <div class = "row">
      <div class = "col-lg-6 coloumn-1">
        <h1>Lets clarify our doubts</h1>
        <h3>You can share your doubts and suggestions regarding the acadamics... and we will help you solve them</h3>

      </div>
      <div class = "col-lg-6 coloumn-2">
        <img src="https://gurucharan18.github.io/gitam/student.svg" alt="image not found">
      </div>
    </div>
  <!-- </div> -->
  <!-- <div class = "container-fluid fluid-vol-2"> -->
    <div class = "row fluid-vol-2">
      <div class = "col-lg-6 coloumn-1">
        <h1>Lets Interact</h1>
        <h3>The main reason for the creation of this website is to increase the Interaction of the people...and make them understand the company standard</h3>

      </div>
      <div class = "col-lg-6 coloumn-2">
        <img src="https://gurucharan18.github.io/gitam/student2.svg" alt="image not found">
      </div>
    </div>
  <!-- </div> -->
</section>

<section id = "about-footer" >
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h1>Uma sri kanth</h1>
        <img src="https://gurucharan18.github.io/gitam/kanth.jpg" class="" alt="...">
        <h3>Back End Web Developer</h3>
      </div>
      <div class="carousel-item">
        <h1>Guru charan</h1>
        <img src="https://gurucharan18.github.io/gitam/charan.jpg" class="" alt="...">
        <h3>Front End Web developer</h3>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

</body>
</html>