<%- include("./partials/NavBar.ejs") %>

    <section class = "contact-con1">
      <h1>GITAM CONNECT</h1>
      <h3>We can't solve your problem unless you tell us the issue</h3>
    </section>

    <section class = "contact-con2">
        <div class = "row">
          <div class = "col-lg-6 coloumn-1">
            <input type="text" placeholder="Name" id = "top-input">
            <input type="email" placeholder="Email Address">
            <input type="number" placeholder="Number">
            <input type="text" placeholder="Subject">
          </div>
          <div class = "col-lg-6 coloumn-2">
            <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
            <button class = "btn btn-primary btn-lg"> click me</button>
          </div>
        </div>
      
    </section>

    <section class = "contact-con3">
      <a href=""><i class="fab fa-twitter fa-2x"></i></a>
      <a href=""><i class="fab fa-facebook-f fa-2x"></i></a>
      <a href=""><i class="fab fa-linkedin-in fa-2x"></i></a>
      <a href=""><i class="fas fa-envelope fa-2x"></i></a>
      <h3>© Copyright 2020 gitam-connect.edu</h3>
    </section>

  </body>
</html>