<%- include("./partials/NavBar.ejs") %>


  <style>
   
    /* html { 
      background: url(images/mission-image.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; 
    } */

    html {
      height: 100%;
    }

    body {
      background-image: linear-gradient(to right top, #6bbbd1, #6ec3d6, #72ccdb, #77d4df, #7ddce3, #7de1e5, #7de7e7, #7dece9, #76f0eb, #6ff4ec, #67f7ed, #5ffbed);
      height: 100%;
      background-repeat: no-repeat;
    }


  </style>


  <section id = "mission-con-1">
    <div class = "container-fluid">
      <h1>Main aim of this website.....</h1>
      <h3>"Group" is a collection of individuals who have regular contact and frequent interaction and who work together to achieve a common set of goals. "Discussion" is the process whereby two or more people exchange information or ideas in a face-to-face situation to achieve a goal. The goal, or end product, maybe increased knowledge, agreement leading to action, disagreement leading to competition or resolution or perhaps only a clearing of the air or a continuation of the status-quo.</h3>
    </div>
    <div class = "img-div">
      <img src="https://gurucharan18.github.io/gitam/mission.jpg" alt="image not found">
    </div>
  </section>

</body>
</html>