.container-fluid {
  padding-left: 200px;
  padding-right: 200px;
  margin: 0;
  background-color: #343a40;
}
/*           ///ahhh this is real shit....big issue
html {
  height: 100%;
}

body {
  height: 100%;
} */

.nav-item {
  padding: 0 10px;
}

/* .navbar-brand h1 {
  font-size: 4rem ;
  color: red;
} */

@media (max-width: 1000px) {
  .navbar-brand {
    font-size: 5rem;
    color: red;
  }

  .nav-link {
    font-size: 3rem;
  }

}



/* -----------------------------  Index page Styles  ------------------------------ */

  .index-section {
    /* background-color: #282828; */
    
    height: 100%;
  }

  .main-heading {
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .index-section .tbx {
    padding-top: 10px;
  }

  .add-question-btn {
    padding-top: 5px;
  }

  .index-section .col-md-8 {
    /* padding-right: 300px; */
    padding-bottom: 50px;
    padding-left: 20px;
  }

  .index-section .col-md-4 {
    padding: 50px ;
    /* padding-left: 100px; */
  }

  .index-section a {
    text-decoration: none;
    color: black;
  }

  .index-section .my-card {
    background-color: white;
    border-radius: 10px;
    padding: 30px 30px;
    box-shadow: 1px 1px 10px 0 rgb(32,33,36, 0.1);
    transition-duration: .4s;
  }

  .index-section h4,p {
    transition-property: background-color color;
    transition-duration: .4s;
  }

  .index-section .my-card h4 {
    padding-bottom: 20px;

  }

  .index-section .my-card:hover {
    background-color: black;
  }

  .index-section .my-card:hover > h4 {
    color: red;
  }

  .index-section .my-card:hover > p {
    color: white;
  }

/* -----------------------------    About page styles    -------------------------------------- */


#con-1 {
  /* background-color: black; */
  color: white;
  padding: 100px 120px;
}

#con-1 .row {
  padding: 0;
  padding: 10px 50px;
  background-color: black;
} 

#con-1 .coloumn-1 {
  padding: 50px 10px;
}

#con-1 .coloumn-1 h1 {
  padding-bottom: 30px;
}

#con-1 .coloumn-2 {
  /* padding-left: 50px; */
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

#con-1 img {
  height: 300px;
}

#con-1 .fluid-vol-2 {
  margin-top: 100px;
}

.con-1 h1 {
  /* padding-bottom: 30px; */
}

@media (max-width: 1000px) {
  #con-1 .row {
    padding-left: 20px;
    padding-right: 20px;
    /* text-align: center; */
  }

  #con-1 h1, h3 {
    text-align: center;
  }

  #con-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  #con-1 .coloumn-1 {
    padding: 20px 10px;
  } 

  #con-1 .coloumn-2 {
    padding: 20px 10px;
  } 
}


/* ----------------------------- Question page styles ---------------------------------------- */


.question-section .my-card {
  background-color: white;
  border-radius: 10px;
  padding: 30px 30px;
  box-shadow: 1px 1px 10px 0 rgb(32,33,36, 0.1);
  transition-duration: .4s;
}

.question-section .row {
  padding-top: 100px;
}

/* ------------------------------ Contact page styles ---------------------------------------- */

.contact-con1 {
  background-color: black;
  color: white;
  /* padding: 30px 20px; */
  padding: 100px 20px;
  text-align: center;
}

.contact-con1 h1 {
  color: yellow;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 13px;
}

.contact-con1 h3 {
  padding-top: 10px;
}

.contact-con2 {
  background-image: linear-gradient();
  background: linear-gradient(to right top, #6bc8d1, #60c2e4, #71b9f1, #94adf3, #bc9de7, #bea1ee, #bfa4f4, #c0a8fb, #8dc2ff, #50daff, #2cedff, #5ffbf1);
  padding: 10%;
  padding-left: 15%;
}

.contact-con2 .row {
  padding: 10px;
  /* padding-top: 20px; */
}

.contact-con2 input {
  display: block;
  background-color: transparent;
  width: 80%;
  border-style: none;
  border-bottom: 2px solid black;
  /* margin-top: 15px; */
  /* margin-top: 0; */
  /* height: 25%; */
  font-size: 27px;
  margin-top: 55px;
  line-height: 30px;
  padding-bottom: 10px;
}

.contact-con2 #top-input {
  margin-top: 13px;
}

.contact-con2 input:focus, .contact-con2 textarea:focus {
  outline: none;
}

.contact-con2 ::placeholder {
  color: white;
}

.contact-con2 .coloumn-1 {
  padding-bottom: 50px;
}

.contact-con2 .coloumn-2 {
  padding-top: 20px;
  padding-left: 10px;
}

.contact-con2 textarea {
  background-color: transparent;
  padding: 10px;
  border: 5px solid black;
  font-size: 20px;
  /* padding: 10%; */
  width: 100%;
  height: 85%;
  resize: none;
}

.contact-con2 button {
  margin-top: 10px;
  margin-left: 73%;
}

.contact-con3 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 100px 0;
}

.contact-con3 a {
  padding: 0 50px;
}

.contact-con3 h3 {
  padding-top: 50px;
  font-weight: 100;
}



@media (max-width: 1000px) {
  .contact-con2 button {
    /* margin-top: 10px; */
    margin-left: 60%;
  }

  .contact-con2 input {
    width: 100%;
  }

  .contact-con2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .contact-con3 a {
    padding: 0 20px;
  }

/* for nav bar ... */
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    background-color: #343a40;
  }

  /* .navbar-brand h1 {
    font-size: 5rem;
    
  } */


}

/* ------------------------------ Mission page styles ---------------------------------------- */


#mission-con-1 {
  padding: 100px 10px;
  background-color: none;
}

#mission-con-1 .container-fluid {
  background-color: transparent;
  /* color: white; */
  /* background-color: transparent; */
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

#mission-con-1 h3 {
  padding-top: 40px;
}

#mission-con-1 .img-div {
  padding: 10% 100px;
}

#mission-con-1 img {
  height: 40%;
  width: 100%;
}

@media (max-width: 600px) {

  #mission-con-1 .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }

  #mission-con-1 .img-div {
    padding-left: 50px;
    padding-right: 50px;
  }
  
  #mission-con-1 img {
    height: 100%;
    width: 100%;
  }

  #mission-con-1 h1 {
    font-size: 2rem;
  }

  #mission-con-1 h3 {
    font-size: 1rem;
  }

}